h2{
	border-bottom: 2px solid #333333;/*Linha abaixo dos titulos*/
	margin-top: 30px;
}
p{
	padding: 0 45px;
	text-indent: 15px; /*Tamanho da margem da primeira linha do texto*/
	text-align: justify;
}
.artigos h1{
	background-image: url(../img/sobre-background.jpg);
	padding: 10px;	
}
/*Exercicíos 5.4*/
/*Selecionando a primeira letra*/
.artigos p::first-letter{  
	font-weight: bold;
}
/**********************************
*Selecione as primeiras linhas dos
*parágrafos que não são precedidos 
*por outros parágrafos
*:not(p) + p::first-line
***********************************/
.artigos :not(p) + p::first-line{
	font-variant: small-caps;
}
/*Tirar a indentação do primeiro paragrafo da pagina*/
h1 + p{
	text-indent: 0; 
}

body{
	color: #333333;
	font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
}
figure{
	background-color: #F2EDED; /*Coloque o fundo cinza*/
	border: 1px solid #ccc; 
	text-align: center;
	padding: 15px;
	margin: 30px;
}
figcaption{
	font-style: italic;
	margin-top: 10px;
}
#centro-distribuicao{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}
#rodape{
	color: #777;
	margin:30px 0;
	padding: 94px;
}
#familia-pelho{
	float: right;
	margin: 0 0 10px 10px;
}
